/* 
* @Author: Administrator
* @Date:   2019-10-18 09:40:08
* @Last Modified by:   Administrator
* @Last Modified time: 2019-10-18 10:27:34
*/
body{
	background: url(../images/bj.jpg);
	height: 100%;
}
.logo {
	margin-top: 2rem;
	text-align: center;
}
.logo img{
	width: 10rem;
	height: 10rem;
}
.list{
	margin-top: 4rem;
	text-align: center;
}
.list li{
	width: 100%;
	height: 1rem;
	line-height: 1rem;
	margin-bottom: 1rem;
}
.list span{
   color: #FFF;
   font-size: 0.75rem;
}
.list input{
	width: 60%;
	height: 1rem;
	line-height: 1rem;
	border: 1px solid #000;
	font-size: 0.75rem;
	background-color: #FFF;
	border-radius: 5px;
}
.a {
	width: 100%;
	margin-top: 3rem;
}
.a_list li{
	width: 50%;
	float: left;
	text-align: center;
}
.a_list li a{
	font-size: 0.75rem;
	padding: 20px 30px;
	color:#1a6dc9;
	background-color: #FFF;
	border-radius: 20px;
}